[submodule "projects/wordpress"]
	path = projects/wordpress
	url = git@github.com:TechIG-official/wordpress.git
[submodule "projects/monitoring"]
	path = projects/monitoring
	url = git@github.com:TechIG-official/monitoring.git
[submodule "projects/openproject"]
	path = projects/openproject
	url = git@github.com:techig-official/openproject
[submodule "projects/nextcloud"]
	path = projects/nextcloud
	url = git@github.com:TechIG-official/nextcloud.git
