.\$*
.DS_Store
*.log

# Protect auth info
ssh_config
auth/
*.pem*
.kube*
*.subst
projects/wireguard/configs

# Terraform
.terraform*
terraform.tfstate
*.tfstate*
.gitignore

projects/wordpress/bitnami