ssh_password            = "" # create using `echo 'mypassword' | mkpasswd --method=SHA-512 --rounds=4096 -s`
domain                  = "" # Your site's domain
ssl_provisioner         = "" # possible values are letsencrypt, none or manual
